/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #fff;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
}
#quote-carousel img{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote{
    border-left: none; 
    margin: 0;
}

.item blockquote img{
    margin-bottom: 10px;
}

.item blockquote p:before{
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}		
.carousel-control.left{
    background: none;
}
.carousel-control.right{
    background: none;
}

.carousel-control{
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: auto;
    color: #fff;
    text-align: center;
    opacity: 1;
    text-shadow: none;
}
.carousel-control:hover{
    color: #000;
}
.carousel-indicators{
    bottom: -10px;
}
.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 50%;
}
.carousel-indicators .active{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color:#fff ;
}
		
.container-fluid {
    padding: 60px 50px;
}
#about h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
 #about h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
     
  } 
#about-us  .logo {
    color: #f4511e;
    font-size: 200px;
  }
#about-us .bg-grey {
    background-color: #f6f6f6;
}
#about-us  .logo-small {
    color: #f4511e;
    font-size: 50px;
}
#about-us .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
#about-us .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
#about-us .carousel-control.right, #about-us   .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
#about-us .carousel-indicators li {
    border-color: #f4511e;
}
#about-us .carousel-indicators li.active {
    background-color: #f4511e;
}
#about-us .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
#about-us  .item span {
    font-style: normal;
}
a:hover {
    text-decoration: none;
}
#about-us .heart{
    width: 300px;
    height: 220px;
}

/*ABOUT*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 768px) {
#about-us .col-sm-4 {
      text-align: justify;
      margin: 25px 0;
    }
  .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    #about-us .heart{
    width: 180px;
    height: 150px;
}
  }
  @media screen and (max-width: 480px) {
#about-us .logo {
        font-size: 150px;
    }  
  }