

.WhiteText
{
    color:white;
}

.BlackText
{
    color: #2F2F49;
}

.spacer-md
{
    padding-top:50px;
    padding-bottom: 80px;
}

.section-img{
       position: absolute;
    top: 30px;
    left: 60%;
    width: 350px;
    }
    .section-1 h1{
        font-family: buenard;
        font-size: 3em; 
        padding-left: 40%;
    }
    
    .section-1 h3{
        font-family: buenard;
        font-size: 1.5em; 
        padding-left: 40%;
    }
}
































