.BlackText
{
    color: #2F2F49;
}

.section-1 h1{
        font-family: buenard;
        font-size: 4em; 
        padding-left: 30%;
        text-align: left;
    }  
    .section-1 h3{
        margin-bottom: 180px; /*dito----*/
        font-family: buenard;
        font-size: 2em; 
        padding-left: 30%;
        text-align: left;
    }

.section-2 h1{
        font-family: buenard;
        font-size: 4em; 
        padding-left: 30%;
        text-align: left;
        
    }
    
.section-2 ul{
    font-family: buenard;
    list-style: none;
    margin: 0;
    margin-left:   310px;
    width: 400px;
    font-size: 1.5em;
    margin-bottom: 50px;
    text-align: left;
    }
.section-2 li:before {
  font-family: FontAwesome;
  content: "\f00c";
  padding-right: 20px;
    
}

.section-3 h1{
        font-family: buenard;
        font-size: 4em; 
        padding-left: 1%;
        text-align: left;
        margin-bottom: 100px;
        
    }  
.section-4 h1{
        font-family: buenard;
        font-size: 4em; 
        padding-left: 40%;
        text-align: left;
        
    }
    
.section-4 ul{
    font-family: buenard;
    list-style: none;
    margin: 0;
    margin-left: 420px;
    width: 550px;
    font-size: 1.5em;
    margin-bottom: 80px;
    text-align: left;
    }
.section-4 li:before {
  font-family: FontAwesome;
  content: "\f00c";
  padding-right: 20px;
    
}







