.nb-footer{
    background: #EC939E;/***************/
    padding-bottom: 30px;
    padding-top: 30px;
}
.nb-footer .about {
max-width: 1170px;
text-align: center; }
.nb-footer .about .social-media {
margin-top: 15px; }
.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 43px;
border-radius: 50%;
font-size: 16px;
color: #1DA1F2;
background-color: #fff;
border: 2px solid rgba(0, 0, 0,0);
}
.nb-footer .about .social-media ul li a:hover {
background: #1DA1F2;
color: #fff;
border-color: #1DA1F2;
}
.nb-footer .footer-single{
    margin-top: 30px;
}
.nb-footer .footer-title{
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .footer-single a{
	text-decoration: none;
}
.nb-footer .footer-single h2{
    color: #eee;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid #E84462;/**/
    padding-bottom: 5px;
    margin-bottom: -2px;
}
.nb-footer .footer-single li{
    border-top: solid 1px #353535;
}
.nb-footer .footer-single li:first-child{
    border-top: none;
}
.nb-footer .footer-single li a{
    color: #393333;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    transition:all 0.4s ease-in-out;
}
.nb-footer li > a:hover:before{
    visibility: hidden;
}
.nb-copyright li > a:hover:before{
    visibility: hidden;
}
.nb-footer .footer-single li a:hover{
    color: #fff;
}
.nb-footer .footer-single li a:hover i{
    color: #fff;
}
.nb-footer .img-responsive {
    margin-top: 11px;
    padding-bottom: 4px;
}
.nb-footer .useful-links li a{
    text-transform: uppercase;
}
.nb-footer .footer-single p, .footer-single address{
    color: #393333;
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
}
.nb-map{
    background: #E38B93;/****umpisa*****/
    padding-bottom: 30px;
    padding-top: 30px;
}
.nb-copyright{
    background: #102B49;/****nabago*****/
    padding-bottom: 10px;
    
}
 .nb-copyright .copyrt , .text-right{
    margin-top: 22px;
    font-size: 14px;
     color:#028693;
}
.nb-copyright .copyrt a , .white{
    color: #fff;
}
/* 
  =====================================
  CSS for <iframe> embedded Google Map
  ===================================== 
*/
.mapWrapper {
    position: relative;
    padding-bottom: 42.857142%; 
    height: 0;
}
.mapWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}












